<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s_genberg.game_test" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/cow_icon"
        android:label="Cow Fight"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name=".Game"
            android:label="Cow Fight" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
